<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{# each products}}
    <div class="row">        
    {{# each this}}
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <img src="{{this.imagePath}}" class="card-img-top" alt="..." class="img-responsive"{{!-- ก๊อปคลาส img-responsive ตรงนี้ไปใส่แผ่นอื่นด้วยนะ --}}>
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text">{{this.description}}</p>
               <div class="price pull-left">฿ {{this.price}}</div>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>          
    {{/each}}
    </div>
{{/each}}


